{% load dashboard_extras %}
{% load switch_case %}
{% load timedelta %}
{% load device_count_in_zone %}
<!DOCTYPE html>
<html>
<head>
<title>BEMOSS Dashboard</title>
<!--

# Authors: Kruthika Rathinavel
# Version: 1.2.1
# Email: kruthika@vt.edu
# Created: "2014-10-13 18:45:40"
# Updated: "2015-02-13 15:06:41"


Copyright © 2014 by Virginia Polytechnic Institute and State University
All rights reserved

Virginia Polytechnic Institute and State University (Virginia Tech) owns the copyright for the BEMOSS software and its
associated documentation ("Software") and retains rights to grant research rights under patents related to
the BEMOSS software to other academic institutions or non-profit research institutions.
You should carefully read the following terms and conditions before using this software.
Your use of this Software indicates your acceptance of this license agreement and all terms and conditions.

You are hereby licensed to use the Software for Non-Commercial Purpose only.  Non-Commercial Purpose means the
use of the Software solely for research.  Non-Commercial Purpose excludes, without limitation, any use of
the Software, as part of, or in any way in connection with a product or service which is sold, offered for sale,
licensed, leased, loaned, or rented.  Permission to use, copy, modify, and distribute this compilation
for Non-Commercial Purpose to other academic institutions or non-profit research institutions is hereby granted
without fee, subject to the following terms of this license.

Commercial Use: If you desire to use the software for profit-making or commercial purposes,
you agree to negotiate in good faith a license with Virginia Tech prior to such profit-making or commercial use.
Virginia Tech shall have no obligation to grant such license to you, and may grant exclusive or non-exclusive
licenses to others. You may contact the following by email to discuss commercial use:: vtippatents@vtip.org

Limitation of Liability: IN NO EVENT WILL VIRGINIA TECH, OR ANY OTHER PARTY WHO MAY MODIFY AND/OR REDISTRIBUTE
THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR
CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO
LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE
OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF VIRGINIA TECH OR OTHER PARTY HAS BEEN ADVISED
OF THE POSSIBILITY OF SUCH DAMAGES.

For full terms and conditions, please visit https://bitbucket.org/bemoss/bemoss_os.

Address all correspondence regarding this license to Virginia Tech's electronic mail address:: vtippatents@vtip.org


    -->
    <meta http-equiv="refresh" content="100">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/static/css/thin-admin.css" rel="stylesheet" media="screen">
<link href="/static/css/font-awesome.css" rel="stylesheet" media="screen">
<link media="screen" rel="stylesheet" href="/static/font-awesome-4.0.3/css/font-awesome.min.css">
    <link href="/static/weathericons/css/weather-icons.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="/static/css/fam-icons/fam-icons.css">
<link href="/static/style/style.css" rel="stylesheet">
<link href="/static/css/alerts.css" rel="stylesheet">
<link href="/static/css/demo_page.css" rel="stylesheet">
<link href="/static/css/demo_table.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->


<!-- Notify CSS -->
<link href="/static/css/bootstrap-notify/bootstrap-notify.css" rel="stylesheet">

<!-- Custom Styles -->
<link href="/static/css/bootstrap-notify/styles/alert-bangtidy.css" rel="stylesheet">
<link href="/static/css/bootstrap-notify/styles/alert-blackgloss.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" type="text/css" href="/static/assets/slider_enhancer/jquery-ui-slider-pips.css">
 <script class="include" type="text/javascript" src="/static/javascript/jquery-1.10.2.js"></script>
<script class="include" type="text/javascript" src="/static/javascript/ui/jquery-ui.js"></script>
<script src="/static/assets/slider_enhancer/jquery-ui-slider-pips.min.js"></script>
<script class="include" type="text/javascript" src="/static/app_js/jquery.csrftoken.min.js"></script>
          <script class="include" type="text/javascript" src="/static/app_js/bootstrap-notify.js"></script>
    <style>
        a.disabled_me {
           pointer-events: none;
           cursor: default;
        }
    </style>
</head>
<body>
{% include 'top_nav.html' %}
<div class="wrapper">
{% include 'side_nav.html' %}
  <div class="page-content" id="dashboard_content">
    <form action="" method="post">
  	{% csrf_token %}
    <div class="content container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-title">BEMOSS Dashboard</h2>
        </div>
      </div>


      <div class="widget">
            <div class="widget-header"> <i class="icon-ok-sign"></i>
              <h3>Devices Connected to BEMOSS</h3>
            </div>

            <div class="widget-content">
              <div id="accordion3" class="panel-group">
                  {% for zone in zones_p %}
                        <div class="panel">
                          <div class="panel-heading"> <a href="#collapse_{{ zone.id }}" data-toggle="collapse" class="accordion-toggle collapsed"> {{ zone.zone_nickname|capfirst }} </a> </div>
                          <div class="panel-collapse collapse
                          {% if zone.id == 999 %} in {% endif %}
                          " id="collapse_{{ zone.id }}" style="height: auto;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget-header text-center">
                                           <h3>{{ zone.zone_nickname }}</h3>
                                           {% if request.user.get_profile.group.name|lower == 'admin' %}
                                                <button data-backdrop="false" data-target="#zone_edit-{{ zone.id }}" data-toggle="modal" class="btn btn-small btn-success" type="button"> Edit <i class="btn-icon-only icon-pencil"> </i></button>
                                           {% endif %}

                                            <div style="display: none;" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade to_close" id="zone_edit-{{ zone.id }}">
	                  <div class="modal-dialog">
	                    <div class="modal-content">
	                      <div class="modal-header">
	                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
	                        <h4 id="myModalLabel" class="modal-title">Edit Zone Information</h4>
	                      </div>
                      <div class="modal-body">
                         <table class="table table-condensed">
			                <thead>
				                <tr>
				                <th></th>
				                <th></th>
				                <th></th>
			                	</tr>
			                </thead>
			                <tbody>
			                  <tr>
			                    <td>Zone Nickname</td>
			                    <td id="{{ zone.id }}_znick">{{ zone.zone_nickname }}</td>
			                    <td><a href="javascript:" class="znickname_edit" ><i class="icon-small icon-edit" id="{{zone.id}}_znick_edit"></i></a></td>
			                    <script>
			                    $( "#{{zone.id}}_znick_edit" ).click(function() {
			                    	//alert("testing");
			                    	var newtest = document.getElementById(this.id.replace("_edit",""));
			                    	newtest.innerHTML = '<input type="text" id="{{zone.id}}_znickname" placeholder="{{zone.zone_nickname}}"></input>'
			                    });
			                    </script>
			                  </tr>
			                </tbody>
                             <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          </tr>
        </tfoot>
			              </table>

			              <p class="attribution left-align">Note: The nickname should contain 6 to 10 characters (alphabets/numbers). No spaces or special characters.</p>
			               <p class = "attribution" id="zonenickname_{{zone.id}}" style="color:red;"></p>
                      </div>
                      <div class="modal-footer">
                        <button data-dismiss="modal" onclick="window.location.reload()"  class="btn btn-default" type="button">Close</button>
                           {% if request.user.get_profile.group.name|lower == 'admin' %}
                        <button class="btn btn-primary save_changes_zn" id="#savechanges-{{zone.id}}" type="button">Save changes</button>
                          {% endif %}
                      </div>
                    </div>
                          </div>
                                                </div>



                                            </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="widget-content text-center">
                                    <div class="col-md-1"></div>
                                     <div class="col-md-3"><a class="btn btn-s-md btn-primary {% if zone.id|all_count <= 0 %}
                                                disabled_me
                                             {% endif %}" href="/all_devices/{{ zone.id }}" >All Devices ({{ zone.id|all_count }})</a></div>
                                        <div class="col-md-3"><a class="btn btn-s-md btn-primary {% if zone.t_count <= 0 %}
                                                disabled_me
                                             {% endif %}" href="/devices/{{ zone.id }}_th">HVAC ({{ zone.t_count }})</a></div>
                                    <div class="col-md-3"><a class="btn btn-s-md btn-primary {% if zone.lt_count <= 0 %}
                                                disabled_me
                                             {% endif %}" href="/devices/{{ zone.id }}_lt">Lighting Loads ({{ zone.lt_count }})</a></div>

                                    </div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                    <div class="widget-content"><div class="col-md-1"></div>
                                     <div class="col-md-3"><a class="btn btn-s-md btn-primary {% if zone.pl_count <= 0 %}
                                                disabled_me
                                             {% endif %}" href="/devices/{{ zone.id }}_pl">Plug Loads ({{ zone.pl_count }})</a></div>
                                    </div></div>
                                </div>
                                <br/>
                                    </div>
                                  </div>
                                </div>
                  {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>

<div class="bottom-nav footer"> 2013-2015 &copy;: Building Energy Management Open Source Software. </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/left_nav_slider.js"></script>

<script type="text/javascript" src="/static/app_js/home_dash.js"></script>
<script type="text/javascript" src="/static/app_js/make_current.js"></script>

<!--switcher html start-->
{% include 'theme_changer.html' %}

</body>
</html>